@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgb(230, 149, 0);
    overflow: hidden;
    width: 0;
    height: 100%; 
    transition: 0.5s ease;
    opacity:1;
  }
  
  .container:hover .overlay {
    width: 100%;
    left: 0;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
  }

  .back
{
background-image:url("/assets/homebackground2.jpg");
padding: 100px;
background-repeat: no-repeat; 
height: 1000px;
width: 1500px;
background-size: cover;
position: absolute;


}

.headings
{
    box-sizing: border-box;
    top:0px;
    position: absolute;
    left:0px;
    
    height:75px;
    width:1600px;
    color:White;
    background-color: black;
    opacity: 1;

}

.headtext
{
    top:30px;
    left:1000px;
    position: absolute;
    color: white;
}

.btn {
    cursor: pointer;
    position: absolute;
    top:11px;
    background-color: transparent;
    height: 40px;
    width: 90px;
    color: White;
    font-size: 1em;
    /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
    border: none;
}

.restname{
    left:-550px;
    top:-60px;
    text-decoration: white;
    font-size: 50px;
    position: absolute;
    color: rgb(255, 166, 0);
    font-family: cursive;
    letter-spacing: 1px;
}

.font1{

font-family: serif;

color: orange;
}

.font2{
font-size:30px ;
    font-family: cursive;
 
    color: white;
 }



.button_slide {
left:650px;
position: absolute;
color :white;
  border-radius: 50px;
  padding: 18px 30px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 45px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 orange;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background-color: orange;
  border: none;
 

}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 orangered;
}

.logo
{
    top:200px;
    left:700px;
    position: absolute;
}

.neonText {
    color: orange;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px white,
        0 0 42px orange,
        0 0 82px orange,
        0 0 92px orange,
        0 0 102px orange,
        0 0 151px orange;
  }

  .neonText1 {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
  }


  .skill-list{
    display : flex;
    justify-content: between;
}

.loginbox{

  height:1000px;
  width:10000px;
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  color: white;
  top:0;
  left:0 ;
  opacity: 0.7;
  position: absolute;
  

  
}

.loginbox1{

  height:250px;
  width:250px;
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  color: white;
  opacity: 1;
  position: absolute;
  /* box-shadow: 120px 80px 40px 20px #0ff; */
  animation: glow 1500ms infinite;
}

.loginbox1:hover{
  /* animation: glow 1500ms infinite; change this to change the color of text after hover over the button */
  }
  @keyframes glow {
  0% { background-color: black; box-shadow: 0 0 3px white; }
  50% { background-color: black; box-shadow: 0 0 40px white; }
  100% { background-color: black; box-shadow: 0 0 3px white; }
  }

.loginbox2{

  height:100px;
  width:100px;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  opacity: 1;
  position: absolute;
  border-radius: 500px;
}

