<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/brands.min.css"  />
    <title>Home</title>
</head>
<body>
<div class="back">

      <div class="headings">
          <div class="headtext">
               <pre>
                <h1 class="restname ">Mummy's Tummy Section</h1> <button class="btn">Contact Us</button>             
              </pre>

               <pre style="top:-2px;position: absolute;left:350px;"><a href="https://www.facebook.com/mummy_tummy_section-343158770109122" style="color: rgb(0, 25, 250);font-size: 30px;" ><i class="fab fa-facebook"></i></a>  <a href="https://instagram.com/mummy_tummy_section?utm_medium=copy_link" style="color: rgb(177, 40, 104);font-size: 30px;"><i class="fa-brands fa-instagram"></i></a></pre>
        </div>
      </div>
<br><br><br><br><br><br>
      <h3 class="font1 ">Up For a Bite?</h3>

      <p class="font2 neonText1">THE  BEST  FOOD </p>
      <p class="font2 neonText1">IN  TOWN  AWAITS</p>
      
     <button class="button_slide slide_down " (click)="order()">Order Now </button>
        <div class="logo">
         <img [src]="logo" height="200px" width="200px">
         </div>
     
</div>

<div class="address">
  <div style="color: white;font-family: cursive; position: absolute; left: 40px; top: 20px;">
   Address: M H Road  <br>
    LandMark: Near Command Hospital <br>
    District: Udhampur <br>
    State: Jammu and Kashmir <br>
    <strong>India</strong>
  
  </div>


  <div style="color: white;font-family: cursive; position: absolute; left: 1000px; top: 20px;">
   For Orders Contact us On: <br>
   123456789 (Aditya Suresh)
   
   </div>

</div>
    
    
    
</body>
</html>